// Colors

$color-primary: #bb2230;
$color-primary-light: #ef2b3d;
$color-secondary: #fff;
$color-third: #202020;


$color-grey-subdark: #393939;
$color-grey-dark: #202020;
$color-grey-text: #7d7d7d;
$color-gray-light: #d6d6d6;
$color-gray-lighter: #f2f2f2;

// Font
